<header>

    <a href="index.html" class="logo">
        <img
            src="images/logo.png"
            alt="BRF Stenstahöjden">
    </a>

    <nav id="mainNav">
    
        <a href="index.html">Hem</a>
        <a href="om-foreningen.html">Om föreningen</a>
        <a href="boendeinformation.html">Boendeinformation</a>
        <a href="styrelsen.html">Styrelsen</a>
        <a href="kontakt.html">Kontakt</a>

    </nav>

    <div id="userMenu"></div>

    <button id="menuToggle" class="menu-toggle">
        ☰
    </button>

</header>